{{ define "telemetry_fabric.title" -}}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{- end }}

{{ define "telemetry_fabric.summary" -}}
{{ range .Alerts -}}
*{{ .Labels.severity }}* {{ .Annotations.summary }}
{{ .Annotations.description }}
{{ if .Annotations.runbook_url }}Runbook: {{ .Annotations.runbook_url }}{{ end }}
Labels:{{ range .Labels.SortedPairs }} {{ .Name }}={{ .Value }}{{ end }}

{{ end -}}
{{- end }}

{{ define "telemetry_fabric.slack" -}}
{{ template "telemetry_fabric.summary" . }}
{{- end }}

{{ define "telemetry_fabric.email" -}}
{{ template "telemetry_fabric.summary" . }}
{{- end }}
